<ion-list>
  <ion-item detail>

    <ion-label>
      <h3>
        <ion-skeleton-text animated
                           style="width: 30%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated
                           style="width: 65%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated
                           style="width: 43%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item detail>

    <ion-label>
      <h3>
        <ion-skeleton-text animated
                           style="width: 12%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated
                           style="width: 54%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated
                           style="width: 98%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item detail>

    <ion-label>
      <h3>
        <ion-skeleton-text animated
                           style="width: 11%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated
                           style="width: 54%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated
                           style="width: 23%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item detail>

    <ion-label>
      <h3>
        <ion-skeleton-text animated
                           style="width: 22%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated
                           style="width: 77%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated
                           style="width: 24%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item detail>

    <ion-label>
      <h3>
        <ion-skeleton-text animated
                           style="width: 98%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated
                           style="width: 12%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated
                           style="width: 34%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item detail>

    <ion-label>
      <h3>
        <ion-skeleton-text animated
                           style="width: 65%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated
                           style="width: 23%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated
                           style="width: 35%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item detail>

    <ion-label>
      <h3>
        <ion-skeleton-text animated
                           style="width: 98%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated
                           style="width: 34%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated
                           style="width: 66%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item detail>

    <ion-label>
      <h3>
        <ion-skeleton-text animated
                           style="width: 12%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated
                           style="width: 34%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated
                           style="width: 87%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item detail>

    <ion-label>
      <h3>
        <ion-skeleton-text animated
                           style="width: 45%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated
                           style="width: 67%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated
                           style="width: 32%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item detail>

    <ion-label>
      <h3>
        <ion-skeleton-text animated
                           style="width: 12%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated
                           style="width: 78%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated
                           style="width: 45%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
</ion-list>