<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Huesos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar placeholder="Buscador de Temas" (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
  <ion-item button *ngFor="let item of items" [routerLink]="[item.url]">
    <ion-icon slot="start" [name]="item.icono"></ion-icon>
    <ion-label>{{item.tema}}</ion-label>
  </ion-item>
</ion-content>